@import '../ui_variables';

.#{$skinVisualon} {
  .vop-airplay-button {
    background-image: url(../assets/svg/ic_airplay_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}



