@import '../ui_variables';

.#{$skinVisualon} {
  .vop-fast-forward-button {
    background-image: url(../assets/svg/ic_fast_forward_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}





