@import '../ui_variables';

.#{$skinVisualon} {
  .vop-logo-container {
    position: absolute;
    z-index: $zIndex_logo;
    top: 32px;
    right: 32px;
  }

  .vop-logo-button {
    width: 102px;
    height: 41px;
    background-image: url(../assets/svg/vo_logo.svg);
    background-color: transparent;
    background-size: cover;
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
  }
}
