@import '../ui_variables';

.#{$skinVisualon} {
  .vop-pip-button {
    background-image: url(../assets/svg/ic_picture_in_picture_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}





