@import '../ui_variables';

.#{$skinVisualon} {
  .vop-settings-button {
    background-image: url(../assets/svg/ic_settings_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
