@import '../ui_variables';

.#{$skinVisualon} {
  .vop-volume-panel {
    min-width: 52px;
    height: 100%;
    cursor: pointer;
    display: inline-block;
  }

  .vop-volume-slider {
    position: relative;
    top: 50%;
    height: 3px;
    background-color: #fff;
  }

  .vop-volume-slider-handle {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: -5px;
    background: #fff;
  }
}


